@use '../mixins';
@use '../variables';

.form-main {
    width: 60%;
}

.advert-form {
    @include mixins.flex-column;
    font-family: variables.$font-family-alt;
    gap: 24px;

    .form-group {
        @extend .advert-form;

        input, textarea {
            width: 100%;
        }

        select {
            @include mixins.font-style(14px, variables.$muted-gray, 500);
            font-family: variables.$font-family-alt;
            width: 30%;
        }

        .short-input-wrapper {
            width: 30%;
        }
    }
}

.form-control {
    background-color: #F7F8FD;
    border: 1px solid variables.$ash-rose;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.form-main .photo-upload {
    position: relative;
    padding-top: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;

    input[type="file"], .photo-label {
        @include mixins.size(100%);
    }

    input[type="file"] {
        object-fit: cover;
        opacity: 0;
    }

    .photo-label {
        @include mixins.flex-center();
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
    }

    img {
        @include mixins.size(100%);
        object-fit: cover;
    }
}

.photo-main-label {
    @include mixins.font-style(12px, variables.$carbon, 500);
    position: absolute;
    left: 5px;
    bottom: 5px;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: variables.$orange;
}

.form-actions {
    @include mixins.flex-center-vertical;
    justify-content: flex-end;
    gap: 16px;

    .btn-preview {
        @include mixins.font-style(16px, variables.$blue);
    }
}

.advert-gallery {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    background: #f0f0f0;
}

.thumbnail-images img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.advert-info {
    @include mixins.text-ellipsis;
    width: 30%;
    padding: 16px;
    box-shadow: 0 4px 32px 0 #00000033;
}

.seller-info {
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 32px;
}

.seller {
    @include mixins.flex-center-vertical;
    gap: 8px;
}

.profile-avatar {
    @include mixins.size(27px);
}
