@use 'mixins';
@use 'variables';

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li,
form, label, table, caption, tbody, thead, tr, th, td,
footer, header, nav, section {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: variables.$font-family;
}

main {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: variables.$font-weight-medium;
}

ul, ol {
    list-style: none;
}

input, button, .button-link {
    border: none;
    font-family: variables.$font-family-alt;
}

button, .button-link {
    gap: 8px;
    border-radius: 32px;
    transition: filter 0.3s ease-in-out;

    &:hover {
        filter: brightness(115%);
    }
}

button {
    @include mixins.flex-center();
    cursor: pointer;
    background: none;
}

.button-link {
    @include mixins.flex-center-vertical();
    @include mixins.font-style(18px, variables.$carbon);
    padding: 16px 28px;
}

input {
    outline: none;
    padding: 14px 0 14px 14px;
}

a {
    text-decoration: none;
    color: variables.$blue;
}

.page-container {
    padding: 0 30px;

    @media (min-width: 1024px) {
        padding: 0 40px;
    }

    @media (min-width: 1650px) {
        padding: 0 60px;
    }
}

.form-row {
    @include mixins.flex-center;
    justify-content: space-between;
}

.form-group {
    font-family: variables.$font-family-alt;

    label {
        @include mixins.font-style(16px, variables.$dark-graphite, variables.$font-weight-medium);
        display: block;
        margin-bottom: 15px;
    }

    input {
        @include mixins.font-style(16px, variables.$muted-gray);
        border-radius: 6px;
        margin-bottom: 40px;
        border: 1px solid variables.$ash-rose;
        background-color: #F7F8FD;
    }
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.error-message {
    display: block;
    color: variables.$bright-red;
    font-size: 12px;
    font-family: variables.$font-family-alt;
}

.input-field.valid {
    border-color: #2CC27C;
}

.input-field.invalid {
    border-color: variables.$bright-red;
}

.hidden {
    display: none;
}

.dropdown-base {
    position: absolute;
    left: 0;
    width: 100%;
    border: 1px solid variables.$light-gray;
    background: variables.$light-background;
    z-index: 1000;

    li {
        padding: 6px;
        cursor: pointer;

        &:hover {
            background: #ccc;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
        }
    }
}

#global-loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.3);
    z-index: 1000;
    cursor: wait;
}
