@use 'base';
@use 'mixins';
@use 'variables';

.advert-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 330px;
    min-height: 490px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 32px 0 #00000033;
    font-family: variables.$font-family-alt;
}

.advert-card .image-container {
    position: relative;

    .advert-image {
        width: 300px;
        height: 300px;
        border-radius: 8px;
    }

    .favorite-button {
        @include mixins.flex-center-vertical;
        @include mixins.font-style(12px, variables.$carbon);
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 2px;
        backdrop-filter: blur(10px);

        span {
            margin-left: 8px;
        }

        img {
            width: 20px;
            height: 20px;
            background-color: #FFFBFF;
            border-radius: 50%;
            padding: 4px;
        }
    }
}

.advert-title, .advert-price {
    font-family: variables.$font-family;
}

.advert-title {
    @include mixins.text-ellipsis;
    @include mixins.font-style(16px, variables.$carbon, variables.$font-weight-semibold);
    margin: 0;
}

.advert-price {
    @include mixins.font-style(24px, variables.$dark-graphite, variables.$font-weight-bold);
}

.advert-tags .tag {
    @include mixins.font-style(10px, variables.$muted-gray);
    border: 1px solid #E6E1E2;
    border-radius: 32px;
    padding: 4px 8px;
}

.advert-rating {
    @include mixins.flex-center-vertical;
    gap: 4px;
}

.advert-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rating-value {
    @include mixins.font-style(14px, #484647, variables.$font-weight-semibold);
}

.price-action {
    @extend .form-row;
    height: 50px;
}

.buy-button {
    @include mixins.flex-center;
    @include mixins.font-style(16px, variables.$carbon);
    background-color: variables.$orange;
    padding: 12px 20px;
}
