// _variables.scss
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Font Families
$font-family: 'Montserrat', Arial, sans-serif;
$font-family-alt: 'Inter', sans-serif;

// Font weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Colors
$blue: #0073E6;
$sky-blue: #4DA6FF;
$light-sky-blue: #7BC2FE;
$dark-blue: #0058AC;
$muted-gray: #797677;
$light-background: #FFFBFF;
$pale-blue: #DFEEFF;

$carbon: #1C1B1C;
$orange: #FF9B0A;
$light-gray: #DAE4EB;
$dark-gray: #484647;
$dark-graphite: #313031;
$bright-red: #FE3535;
