@use '../mixins';
@use '../variables';

.advert-item {
    @include mixins.flex-center-vertical;
    justify-content: space-between;
    padding: 16px 32px;
    border-radius: 32px;
    box-shadow: 0 4px 32px 0 #00000033;
    font-family: variables.$font-family-alt;
    transition: background-color 0.3s;
    width: 100%;
    gap: 30px;

    &:hover {
        background-color: variables.$pale-blue;
    }

    .advert-image-wrapper {
        width: clamp(100px, 6vw, 200px);
        height: clamp(100px, 6vw, 200px);
    }

    .advert-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .advert-content {
        @include mixins.flex-column;
        flex-grow: 1;
        width: clamp(100px, 30vw, 500px);
        gap: 10px;
    }

    .advert-price {
        @include mixins.font-style(16px, variables.$carbon, variables.$font-weight-medium);
        font-family: variables.$font-family-alt;
    }
}

.advert-description {
    @include mixins.text-ellipsis;
    @include mixins.font-style(14px, variables.$carbon, variables.$font-weight-medium);
}

.advert-date {
    @include mixins.font-style(14px, #797677);
}

.advert-left {
    display: flex;
    flex-grow: 1;
    gap: 16px;
}

.advert-right {
    @include mixins.flex-column;
    align-items: flex-end;
    gap: 25px;
}

.advert-actions {
    display: flex;
    gap: 10px;

    button {
        @include mixins.font-style(16px, variables.$carbon);
        padding: 12px 20px;
    }

    .edit-btn {
        background-color: variables.$orange;
    }

    .delete-btn {
        border: 1px solid variables.$orange;
        background-color: variables.$light-background;
    }
}

.advert-date-wrapper {
    display: flex;
    gap: 6px;
}

@media (min-width: 1200px) {
    .advert-item .advert-price {
        font-size: 16px;
    }

    .advert-description,
    .advert-date,
    .advert-tags {
        font-size: 14px;
    }
}

@media (min-width: 1650px) {
    .advert-item .advert-price {
        font-size: 20px;
    }

    .advert-date-wrapper img {
        width: 16px;
    }

    .advert-description, .advert-date {
        font-size: 16px;
    }
}
