@use '../base';
@use '../mixins';
@use '../variables';

.orders-container {
    @include mixins.flex-column;
    font-family: variables.$font-family-alt;
    gap: 12px;
}

.orders-header, .order-row {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
    padding: 15px;
    border-radius: 32px;
    background-color: variables.$light-sky-blue;

    &.orders-header {
        font-weight: 600;
    }

    &.order-row {
        font-weight: 500;
    }
}

.orders-container--short {
    .orders-header, .order-row {
        grid-template-columns: 1fr 1.5fr 2fr 1.5fr 1fr;
    }
}

.status {
    color: white;
    border-radius: 32px;
    padding: 10px;
    width: 210px;
    margin: 0 auto;
}

.status.confirmed, .status.pending, .status.shipped {
    background-color: variables.$dark-blue;
}

.status.arrived {
    background-color: #2CC27C;
}

.status.received {
    color: variables.$carbon;
    background-color: #9AE8C3;
}

.status.canceled {
    color: variables.$carbon;
    background-color: #FF6B6B;
}
