@use '../base';
@use '../mixins';
@use '../variables';

.orders-container {
    display: flex;
    flex-direction: column;
    font-family: variables.$font-family-alt;
    gap: 12px;
}

.orders-header, .order-row {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
    padding: 15px;
    border-radius: 32px;
    background-color: variables.$light-sky-blue;

    &.orders-header {
        font-weight: variables.$font-weight-semibold;
    }

    &.order-row {
        font-weight: variables.$font-weight-medium;
    }
}

.status {
    color: white;
    border-radius: 32px;
    padding: 10px;
    width: 210px;
    margin: 0 auto;
}

.status.waiting, .status.in-transit {
    background-color: variables.$dark-blue;;
}

.status.arrived {
    background-color: #2CC27C;
}

.status.received {
    color: variables.$carbon;
    background-color: #9AE8C3;
}
