@use '../mixins';
@use '../variables';

.footer {
    @include mixins.flex-center(column);
    background-size: cover;
    background-image: url('/public/images/waves.png');
    background-color: variables.$sky-blue;
    font-family: variables.$font-family-alt;
    margin-top: 100px;
    height: 280px;
}

.footer-links {
    display: flex;
    gap: 60px;
    margin-top: 35px;
    margin-bottom: 60px;
}

.footer-link-item a {
    @include mixins.font-style(16px, variables.$light-background, variables.$font-weight-medium);
}

.footer-copy {
    @include mixins.font-style(14px, variables.$ash-rose);
}
