@use '../mixins';
@use '../variables';

.footer {
    @include mixins.flex-center(column);
    background-size: cover;
    background-image: url('/public/images/waves.png');
    background-color: variables.$sky-blue;
    font-family: variables.$font-family-alt;
    margin-top: 100px;
    height: 280px;
}

.footer-links {
    display: flex;
    gap: 60px;
    margin-top: 35px;
    margin-bottom: 60px;
}

.footer-link-item a {
    @include mixins.font-style(16px, variables.$light-background, 500);
}

.footer-copy {
    @include mixins.font-style(14px, variables.$ash-rose);
}

@media (max-width: 768px) {
    .footer {
        text-align: center;
        height: auto;
        padding: 20px;
    }

    .footer-links {
        gap: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
    }

    .footer-link-item a {
        font-size: 14px;
    }

    .footer-copy {
        font-size: 12px;
        margin-top: 10px;
    }
}
