@use '../mixins';
@use '../variables';

.navbar, .input-group, .search-form, .nav-icons,
.category-btn, .badge, .nav-link {
    @include mixins.flex-center;
}

header {
    box-shadow: 0 2px 4px 0 #0000001A;
}

.navbar {
    justify-content: space-between;
    height: 9.5vh;
}

.input-group,
.search-input {
    border-radius: 40px;
}

.input-group {
    width: 100%;
    border: 1px solid variables.$dark-gray;
    position: relative;
    padding: 4px;
}

@media (min-width: 1440px) {
    .input-group {
        width: 615px;
    }
}

.search-input {
    @include mixins.font-style(16px, variables.$dark-gray);
    flex: 1;
}

.category-btn {
    @include mixins.font-style(16px, variables.$carbon);
    border-right: 1px solid variables.$carbon;
    border-radius: 0;
    padding: 0 20px;
}

.category-menu {
    display: none;
    position: absolute;
    background: variables.$light-background;
    width: 230px;
    top: 55px;
    left: 0;
    z-index: 100;

    li {
        cursor: pointer;
        padding: 8px 16px;

        &:hover {
            background-color: variables.$orange;
        }
    }

    a {
        @include mixins.flex-center-vertical;
        @include mixins.font-style(18px, variables.$carbon);
        font-family: variables.$font-family-alt;
        gap: 10px;

        &::after {
            @include mixins.size(24px);
            content: '';
            background-image: url('/public/images/greater-than.svg');
            margin-left: auto;
        }
    }
}

.category-menu.active {
    display: block;
}

.search-btn {
    @include mixins.size(40px);
    position: absolute;
    background-color: variables.$orange;
    right: 10px;
}

.navbar-right {
    @include mixins.flex-center-vertical;
    gap: 24px;
}

.nav-link {
    position: relative;
}

.badge {
    @include mixins.font-style(14px, variables.$carbon);
    background-color: variables.$orange;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
}

.nav-avatar-image {
    @include mixins.size(56px);
    border-radius: 50%;

    &:hover {
        border: 1.5px solid variables.$orange;
    }
}

.search-btn-mobile {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: variables.$carbon;
        border-radius: 2px;
    }
}

.mobile-footer {
    display: none;
}

.mobile-search-modal {
    @include mixins.flex-center();
    @include mixins.size(100%);
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

.modal-content {
    @include mixins.flex-column;
    background: white;
    padding: 40px;
    border-radius: 12px;
    position: relative;

    form {
        @include mixins.flex-column;
        gap: 12px;
    }
}

.modal-search-input {
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.modal-search-btn {
    @include mixins.font-style(16px, white, 600);
    background-color: variables.$orange;
    padding: 12px;
    cursor: pointer;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 1120px) {
    .hero-button {
        padding: 12px 24px;
        font-size: 16px;
    }

    .hamburger {
        display: flex;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }

    .navbar {
        @include mixins.flex-center();
        position: relative;
        height: 60px;
    }

    .input-group, .category-btn,
    .navbar-right, .hero-button {
        display: none !important;
    }

    .logo {
        z-index: 1;
    }

    .search-btn-mobile {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }

    .mobile-footer {
        display: flex !important;
        @include mixins.flex-center-vertical;
        @include mixins.size(100%, 60px);
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
        font-weight: 500;
        font-family: variables.$font-family-alt;
        background: variables.$light-background;

        a {
            @include mixins.flex-column();
            align-items: center;
            position: relative;
            font-size: 12px;
            color: variables.$carbon;

            .badge {
                top: -5px;
                right: 5px;
            }

            img {
                @include mixins.size(24px);
                margin-bottom: 2px;
            }
        }
    }

    body {
        padding-bottom: 60px;
    }
}
