@use '../base';
@use '../mixins';
@use '../variables';

// ===== HERO =====
.hero-container {
    position: relative;
    text-align: center;
}

.hero-text {
    @include mixins.flex-center(column);
    position: absolute;
    top: 50%;
    left: 50%;
    gap: 36px;
    color: variables.$light-background;
    transform: translate(-50%, -50%);

    p {
        width: 80%;
    }
}

.hero-title {
    font-size: 64px;
}

.hero-subtitle {
    font-size: 24px;
}

.hero-image img {
    width: 100%;
}

.hero-button {
    @extend .button-link;
    display: inline-block;
    background-color: variables.$orange;
}

.view-all-button {
    @extend .button-link;
    border: 1px solid variables.$orange;
}

// ===== CONTENT =====
.content-sections,
.content-section {
    @include mixins.flex-column;
}

.content-sections {
    gap: 100px;
    margin-top: 50px;
}

.content-section {
    gap: 24px;
}

.section-container {
    display: flex;
    gap: 28px;
}

.section-title {
    @include mixins.font-style(36px, variables.$dark-graphite, 500);
    margin-bottom: 30px;
}

// ===== ADVERTS =====
.home-adverts-list {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding-bottom: 10px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

#popular-adverts {
    gap: 16px;
}

.popular-adverts {
    @include mixins.flex-column;
    gap: 16px;
}

// ===== CATEGORIES =====
.category-title {
    width: 100px;
}

.category-item,
.why-us-item {
    @include mixins.flex-grow-1;
    @include mixins.flex-center(column);
    @include mixins.font-style(24px, variables.$carbon, 500);
    text-align: center;
    gap: 8px;
}

.category-item a {
    color: variables.$carbon;
}

.section-container {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 10px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

// ===== DELIVERY =====
.delivery-step-item {
    @include mixins.flex-center(column);
    @include mixins.flex-grow-1;
    padding: 16px;
    gap: 32px;
}

.delivery-step-title,
.delivery-step-description {
    max-width: 280px;
}

.delivery-step-title {
    @include mixins.font-style(24px, variables.$carbon, 500);
}

.delivery-step-description {
    @include mixins.font-style(16px, variables.$dark-graphite);
    font-family: variables.$font-family-alt;
}

// ===== WHY US =====
.why-us-item {
    padding: 36px 8px;
    border-radius: 16px;
    background-color: variables.$pale-blue;

    &:nth-child(even) {
        background-color: transparent;
    }
}

.why-us-title {
    width: 200px;
}

// ===== SCROLL =====
.scroll-buttons {
    display: flex;
    gap: 24px;
}

.scroll-btn {
    @extend .scroll-btn-base;
    border-radius: 32px;
    box-shadow: 0 4px 24px 0 #0000000D;

    &.left {
        background-color: #FFE6A5;
    }

    &.right {
        background-color: variables.$orange;
    }
}

.scroll-indicator {
    @include mixins.flex-center();
    gap: 16px;

    span {
        @include mixins.size(16px);
        border-radius: 16px;
        background-color: #FFE6A5;
        transition: width 0.3s ease, background-color 0.3s ease;

        &.active {
            width: 36px;
            background-color: variables.$orange;
        }
    }
}

// ===== MEDIA =====
@media (max-width: 1400px) {
    .hero-title { font-size: 48px; }
    .hero-subtitle { font-size: 20px; }
    .section-title { font-size: 26px; font-weight: 600; }

    .hero-text {
        gap: 28px;
        width: 100%;

        p { font-size: 14px; }
    }
}

@media (max-width: 1250px) {
    .hero-title { font-size: 40px; }
    .hero-subtitle { font-size: 18px; }
    .section-title { font-size: 22px; font-weight: 600; }
}

@media (max-width: 1000px) {
    .hero-title { font-size: 28px; }
    .category-title { font-size: 16px; font-weight: 600; }
}

@media (max-width: 800px) {
    .hero-title { font-size: 14px; }
    .hero-subtitle { font-size: 14px; }
    .view-all-button { font-size: 14px; gap: 0; padding: 6px 8px; }
    .section-title { font-size: 18px; font-weight: 600; }

    .hero-text {
        gap: 15px;

        p { font-size: 12px; }
    }

    .section-container .categories {
        flex-direction: column;
        gap: 0;
    }
}
