@use '../base';
@use '../mixins';
@use '../variables';

.hero-container, .why-us-item, .category-item, .delivery-step-item {
    text-align: center;
}

.hero-container {
    position: relative;
}

.hero-text {
    @include mixins.flex-center(column);
    top: 50%;
    left: 50%;
    gap: 36px;
    position: absolute;
    color: variables.$light-background;
    transform: translate(-50%, -50%);
}

.hero-text p {
    width: 600px;
}

.hero-title {
    font-size: 64px;
}

.hero-subtitle {
    font-size: 24px;
}

.hero-image img {
    width: 100%;
}

.hero-button {
    @extend .button-link;
    display: inline-block;
    background-color: variables.$orange;
}

.view-all-button {
    @extend .button-link;
    border: 1px solid variables.$orange;
}

.content-sections, .content-section{
    @include mixins.flex-column;
}

.content-sections {
    gap: 100px;
    margin-top: 50px;
}

.content-section {
    gap: 24px;
}

.section-container {
    display: flex;
    gap: 28px;
}

.home-adverts-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    scrollbar-width: none;
    overflow-x: auto;
}

#popular-adverts {
    gap: 16px;
}

.section-title {
    @include mixins.font-style(36px, variables.$dark-graphite, 500);
    margin-bottom: 30px;
}

.category-title {
    width: 100px;
}

.category-item, .why-us-item {
    @include mixins.flex-grow-1;
    @include mixins.flex-center(column);
    @include mixins.font-style(24px, variables.$carbon, 500);
    gap: 8px;
}

.delivery-step-item {
    @include mixins.flex-center(column);
    @include mixins.flex-grow-1;
    padding: 16px;
    gap: 32px;
}

.delivery-step-title, .delivery-step-description {
    max-width: 280px;
}

.delivery-step-title {
    @include mixins.font-style(24px, variables.$carbon, 500);
}

.delivery-step-description {
    @include mixins.font-style(16px, variables.$dark-graphite);
    font-family: variables.$font-family-alt;
}

.why-us-item {
    padding: 36px 8px;
    border-radius: 16px;
    background-color: variables.$pale-blue;

    &:nth-child(even) {
        background-color: transparent;
    }
}

.why-us-title {
    width: 200px;
}

.scroll-buttons {
    display: flex;
    gap: 24px;
}

.scroll-btn {
    width: 40px;
    height: 40px;
    border-radius: 32px;
    box-shadow: 0 4px 24px 0 #0000000D;
    background-color: #FFE6A5;
}

.scroll-btn.right {
    background-color: variables.$orange;
}

.scroll-indicator {
    @include mixins.flex-center();
    gap: 16px;
}

.scroll-indicator span {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #FFE6A5;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.scroll-indicator span.active {
    width: 36px;
    background-color: variables.$orange;
}

.home-adverts-list::-webkit-scrollbar {
    display: none;
}
