@use '../mixins';
@use '../variables';
@use 'buttons';

.auth-container {
    display: flex;
    height: 100vh;
    font-family: variables.$font-family-alt
}

.auth-left, .auth-right {
    @include mixins.flex-center(column);
    flex: 1;
}

.auth-left {
    border-radius: 0 24px 24px 0;
    background-color: variables.$dark-blue;
    background-image: url('/public/images/auth/waves.svg');
    background-size: cover;
}

.auth-right {
    .auth-content {
        width: 40vh;
    }

    .input-wrapper {
        @include mixins.flex-column;
        position: relative;
        gap: 10px;
    }

    .form-group {
        @include mixins.flex-column;
        margin-bottom: 40px;
        gap: 40px;

        input {
            width: 100%;
            position: relative;
            padding: 13px 45px;
            background-repeat: no-repeat;
            background-position: 15px center;
        }

        #email {
            background-image: url('/public/images/auth/email.svg');
        }

        #password {
            background-image: url('/public/images/auth/lock.svg');
        }

        #password_confirmation {
            background-image: url('/public/images/auth/lock-confirmation.svg');
        }

        #phone_number {
            background-image: url('/public/images/auth/phone.svg');
        }

        #first_name {
            background-image: url('/public/images/auth/profile.svg');
        }

        #last_name {
            background-image: url('/public/images/auth/profile-add.svg');
        }
    }
}

.navbar-brand {
    position: absolute;
    top: 50px;
    left: 100px;
}

.navbar-logo {
    width: 230px;
    height: auto;
}

.slider-frame {
    @include mixins.flex-center(column);
    position: relative;
    height: 600px;
}

.image-slider {
    position: relative;
}

.tagline {
    @include mixins.flex-center();
    @include mixins.font-style(20px, white, 600);
    position: absolute;
    white-space: nowrap;
    bottom: 15px;
}

.slider-dots {
    @include mixins.flex-center();
    gap: 6px;
}

.slider-dots span {
    @include mixins.size(6px);
    border-radius: 16px;
    background-color: #B9DDFE;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.slider-dots span.active {
    width: 14px;
    background-color: #F0F7FF;
}

.auth-header {
    @include mixins.flex-column;
    margin-bottom: 40px;
    gap: 25px;
}

.auth-heading, .form-group-label {
    @include mixins.font-style(24px, variables.$dark-gray, 600);
}

.auth-subheading, .remember-text, .form-options {
    @include mixins.font-style(14px, variables.$muted-gray, 500);
}

.form-options {
    @include mixins.flex-center-vertical;
    justify-content: space-between;
    margin-bottom: 50px;

    label {
        @include mixins.flex-center-vertical;
        gap: 6px;
    }
}

.forgot-password {
    @include mixins.font-style(14px, variables.$dark-blue, 600);
}

.auth-link {
    @include mixins.flex-center;
    @include mixins.font-style(16px, variables.$muted-gray, 500);
    margin-top: 5vh;

    a {
        font-weight: 600;
    }
}

.toggle-visibility {
    @include mixins.flex-center;
    position: absolute;
    right: 10px;
    top: 30%;
}

[x-cloak] {
    display: none !important;
}

.auth-content:not([x-data]) .step:not(:first-child) {
    display: none;
}

.photo-upload, .photo-background {
    @include mixins.flex-center;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
}

.photo-background {
    @include mixins.size(120px);
    border-radius: 50%;
    background-color: #EFEFF2;
    cursor: pointer;
}

@include mixins.mobile {
    .auth-left {
        display: none;
    }

    .auth-right {
        padding: 20px;

        .auth-content {
            width: 100%;
        }
    }
}
