@use '../mixins';
@use '../variables';

.adverts-container {
    width: 85%;
}

.page-title {
    @include mixins.flex-center-vertical;
    font-size: 36px;
    color: variables.$carbon;
    margin-bottom: 30px;
    gap: 12px;
}

.adverts-list {
    @include mixins.flex-center(column);
    gap: 16px;
}
