@use '../base';
@use '../mixins';
@use '../variables';

.form-row {
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
    position: relative;

    input {
        width: 100%;

        &[type="email"], &[type="tel"] {
            border: 1px solid #ccc;
            background-color: transparent;
        }

        &:not([readonly]) {
            background-color: variables.$light-background;
        }

        &:enabled:not([readonly]) {
            color: variables.$carbon;
        }
    }

    &.apartment input {
        width: 20%;
    }
}

.address-suggestions {
    @extend .dropdown-base;
}
